<?php
define( 'DB_NAME', 'wordpress' );
define( 'DB_USER', 'wp' );
define( 'DB_PASSWORD', '123' );
define( 'DB_HOST', 'localhost' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define( 'DB_TYPE', 'pgsql' );
define( 'DB_PORT', '5432' );

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );
define('WP_HOME','https://ivanlab.com/wordpress');
define('WP_SITEURL','https://ivanlab.com/wordpress');

$_SERVER["REQUEST_URI"] = str_replace("/wp-admin/", "/wordpress/wp-admin/", $_SERVER["REQUEST_URI"]);
if ( $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https' ) {
    $_SERVER['HTTPS'] = 'on';
    $_SERVER['SERVER_PORT'] = '443';
    define('FORCE_SSL_ADMIN', true);
}
if ( isset($_SERVER['HTTP_X_FORWARDED_HOST']) ) {
    $_SERVER['HTTP_HOST'] = $_SERVER['HTTP_X_FORWARDED_HOST'];
}

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

require_once( ABSPATH . 'wp-settings.php' );

define( 'WP_USE_EXT_MYSQL', false );