server {
    listen 80;
    server_name ivanlab.com;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name ivanlab.com;
    ssl_certificate /etc/nginx/ssl/ivanlab.crt;
    ssl_certificate_key /etc/nginx/ssl/ivanlab.key;


    location /wordpress/ {
        proxy_pass http://localhost:8080/;
	include proxy_params;
    }

    location / {
        root /usr/share/nginx/html;
        index myindex.html;
    }

}